---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
	<section class="mx-auto w-full max-w-screen-lg py-8 px-4">
		<div class="mt-0 sm:mt-12 flex items-center gap-4">
			<div class="min-w-28 size-28 sm:min-w-20 sm:size-20 bg-zinc-200 rounded-2xl sm:rounded-xl" />
			<div class="w-full flex flex-col sm:flex-row justify-between gap-2">
				<div class="w-full">
					<h1 class="text-lg font-semibold">Fluid Avatars</h1>
					<p class="text-sm text-zinc-600 text-balance">
						<span class="sm:hidden block">Built with paper shaders</span>
						<span class="hidden sm:block">Generate unique user avatars using paper shaders</span>
					</p>
				</div>

				<a href="/playground" class="mt-1.5 sm:mt-0 py-2 px-4 size-fit text-xs sm:text-sm text-white whitespace-nowrap border border-zinc-500 hover:border-orange-400 bg-gradient-to-b from-zinc-700 to-zinc-950 hover:from-orange-500 hover:to-orange-600 inset-shadow-xs inset-shadow-zinc-200/60 rounded-full">
					Try Playground
				</a>
			</div>
		</div>
	</section>
</RootLayout>
